<section class='list'>
  <div><h1 class="title text-center">Cadastros de Administradores pendentes</h1></div>
    <div class='flex flex-col items-center'>
      <% if @pending_admins.any? %>
        <% @pending_admins.each do |admin| %>
          <div id=<%= admin.id %> class="flex flex-col sm:flex-row card mb-2 w-[70%] min-w-[350px] p-5 bg-gray-100 sm:justify-between">
          
            <div class="flex flex-col items-center">
              <p class="text-lg font-semibold">Nome</p>
              <p><%= admin.name %></p>
            </div>

            <div class="flex flex-col items-center">
              <p class="text-lg font-semibold">E-mail</p>
              <p><%= admin.email %></p>
            </div>

            <div class="flex flex-col sm:justify-center items-center">
              <%= button_to "Aprovar", approve_pending_admin_path(admin.id), class: 'btn-primary' %>
            </div>

          </div>
        <% end %>
      <% else %>
        <p>Não existem admin pendentes de aprovação</p>
      <% end %>
    </div>
  </div>
</section>